 .button {
    margin-top: .5rem;
    height: 2rem;
    width: 14rem;
    color: var(--pc);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
        border-right: 1px solid #d9d9d9;
        border-bottom: 1px solid #d9d9d9;
        background: #ffffff;
        box-shadow:  5px 5px 20px #d9d9d9,
        -5px -5px 20px #ffffff;


        transition: all .5s;

   


        &:hover{
            color: #ffffff;
            background: var(--pc)
        }
    }

    .button-appear {
        opacity: 0.1;
     }
     .button-appear.button-appear-active {
        opacity: 2;
        transition: opacity 50s ease-in;
     }
 